@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2015-06-23 13:54:21
 * @version $Id$
 */

body{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: "Microsoft Yahei","SimSun","STXihei","Droid Sans Fallback";
    color: #222;
    background-color: #eee;
}

a{ text-decoration: none;}
img{border:none;}





