[core]
	autocrlf = input
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Jerry
	email = JerryDev@163.com
[push]
	defualt = current
[color]
	ui = true
[alias]
	unstage = reset HEAD
	last = log -1
	logf = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	log1 = log --pretty=oneline --abbrev-commit --graph --decorat